doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title わたしと現場 

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 わたしと現場 

      section
        h2 わたしの現場
        ul 
          li 
          li 2013: aaaのインフラ更改 
          li 2014: xxxのシステム更改

      section
        h2 衝撃の現場
        ul
          li 
          li Windows大好きなバージョン管理
          li Excel大好きな課題管理 
          li みんなでリリース管理

      section
        h2 Windows大好きなバージョン管理
        ul
          li 
          li 最新のファイルはどれですか？ 
          li 昨日、保存したファイルが見当たらない.. 
          li フォルダ構成がいつのまにか変更されている 
          li 実は、誰かの過去のメールに添付されている 

      section
        h2 Excel大好きな課題管理 
        hr
        pre
          code.language-javascript.
            aaa課題.xls 
            aaa課題-20140115.xls 
            aaa課題-20140115.xls(1) 
            aaa課題-20140116.xls 
            bbb課題.xls 

      section
        h2 みんなでリリース管理
        ul
          li 
          li みんなroot権限
          li みんなデプロイ可能
          li みんな設定変更可能

      section
        h2 いまのサーバの状態は、

      section
        h2 衝撃の現場
        ul
          li 
          li どのソースが適用されている？ 
          li どの課題に対応できている？
          li いま、だれか操作してる？

      section
        h2 このままじゃ、まずいよね... 

      section
        h2 2013.03
        ul
          li 
          li <a href="http://tatsu-zine.com/books/chef-solo"><img alt="入門Chef Solo - Infrastructure as Code" src="http://tatsu-zine.com/images/books/78/cover_l.jpg" height="300" /></a>
          li これだ！ 

      section
        h2 これからの現場
        ul
          li 
          li エンジニアの成果物は、CodeとしてGitに構成管理されている
          li 課題は、ITS/BTSに起票され、課題への対応がGitと紐づいている
          li root権限と一般ユーザ権限を区別し、アクセス制御できている 
          li git pushからデプロイまでの操作手順を自動化(CI/CD)している 

      section
        h1 Thank you.

      section
        h1 bespsoke.js
        h2 イケテル

      section
        h2.Bullet bespoke.jsを使おう
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
